<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1><%= @params["name"]%></h1>

   <h2><%= @params["coach"] %></h2>
   <h2><%= @params["pg"] %></h2>
   <h2><%= @params["sg"] %></h2>
   <h2><%= @params["sf"] %></h2>
   <h2><%= @params["pf"] %></h2>
   <h2><%= @params["c"] %></h2>

 </body>
</html>
